asciitable==0.8.0
astroid==1.4.9
backports-abc==0.5
backports.functools-lru-cache==1.3
certifi==2017.1.23
configparser==3.5.0
cycler==0.10.0
isort==4.2.5
Keras==1.2.2
lazy-object-proxy==1.2.2
matplotlib==1.5.3
mccabe==0.6.0
nltk==3.2.2
numpy==1.11.3
py==1.4.33
PyAlgoTrade==0.18
pylint==1.6.5
pyparsing==2.1.10
pytest==3.0.7
python-dateutil==2.6.0
pytz==2016.10
PyYAML==3.12
pyzmq==16.0.2
requests==2.12.4
scikit-learn==0.18.1
scipy==0.18.1
singledispatch==3.4.0.3
six==1.10.0
terminaltables==3.1.0
Theano==0.8.2
tornado==4.4.3
virtualenv==15.1.0
wrapt==1.10.8
